/* CSS Document */
body {

	background-image: url(images/cover2.jpg);
	background-attachment: fixed;

}
#top {

	background-color: #107c10;
	padding-top: 5px;
}

#top table,th,td,tr {

	border: 1px solid #003791;
    border-collapse: collapse;
    background-color: #f1f1f1;
}
	
#container {
	margin-top: -40px;


}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #E64A19;
	
  

}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' ^'; }
li > a:only-child:after { content: ''; }


#main-image {

	width:960; 
	height:400;
	background-image: url(images/8.jpg);
	margin-top: -50px;

}

#main-image p {

	padding: 250px;
}




#button{
	padding: 200px;
	margin-left: 100px;
	text-align: center;


}
.button {
      background-color: #107c10; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button:hover {
     background-color: #5dc21e;
    color: black;
    border: 2px solid #4CAF50;
}




table {

	width: 1025px;
}



#videos  {

	width: 100%;
	background-color: #3a3a3a;
}

#footer {

width:100%
 
text-align: center;
padding: 50px;

}
#playstation {

	background-color: #003791;
}

#playstation table, th, td,tr {
    border: 1px solid #003791;
    border-collapse: collapse;
    background-color: #55acee;rgb(39, 118, 220)

}
#pc {
	background-color: #bb0000;
}
#pc table, th, td,tr {
    border: 1px solid #003791;
    border-collapse: collapse;
    background-color: #D9D9D9;rgb(39, 118, 220)
}